web/WEB-INF/wsit-com.ais_ksgt_service.ais_ksgt_service.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ais_ksgt_service" targetNamespace="http://ais_ksgt_service.com/" xmlns:tns="http://ais_ksgt_service.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2004/09/policy" 
 >
    <message name="sendObjects"/>
    <message name="sendObjectsResponse"/>
    <message name="tryLogin"/>
    <message name="tryLoginResponse"/>
    <message name="getDefections"/>
    <message name="getDefectionsResponse"/>
    <message name="getPlans"/>
    <message name="getPlansResponse"/>
    <portType name="ais_ksgt_service">
        <operation name="sendObjects">
            <input message="tns:sendObjects"/>
            <output message="tns:sendObjectsResponse"/>
        </operation>
        <operation name="tryLogin">
            <input message="tns:tryLogin"/>
            <output message="tns:tryLoginResponse"/>
        </operation>
        <operation name="getDefections">
            <input message="tns:getDefections"/>
            <output message="tns:getDefectionsResponse"/>
        </operation>
        <operation name="getPlans">
            <input message="tns:getPlans"/>
            <output message="tns:getPlansResponse"/>
        </operation>
    </portType>
    <binding name="ais_ksgt_servicePortBinding" type="tns:ais_ksgt_service">
        <wsp1:PolicyReference URI="#ais_ksgt_servicePortBindingPolicy"/>
        <operation name="sendObjects">
            <input></input>
            <output></output>
        </operation>
        <operation name="tryLogin">
            <input></input>
            <output></output>
        </operation>
        <operation name="getDefections">
            <input></input>
            <output></output>
        </operation>
        <operation name="getPlans">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="ais_ksgt_service">
        <port name="ais_ksgt_servicePort" binding="tns:ais_ksgt_servicePortBinding"/>
    </service>
    <wsp1:Policy wsu:Id="ais_ksgt_servicePortBindingPolicy">
        <wsp1:ExactlyOne>
            <wsp1:All/>
        </wsp1:ExactlyOne>
    </wsp1:Policy>
</definitions>
